@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-lines {
  background-image: url("../public/assets/images/bg-lines.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

/* background gradient */
._absolute {
  position: absolute;
  top: 50px !important;
  justify-content: center;
  inset: 0;
  display: inline-flex;
  z-index: -1;
  flex-direction: row;
}

._shape-one {
  width: 400px;
  height: 400px;
  border-radius: 9999px;
  position: relative;
  animation: one 20s infinite;
}

._shape-two {
  width: 300px;
  height: 300px;
  border-radius: 9999px;
  position: relative;
  animation: two 20s infinite;
}

@keyframes one {
  0%{left: -250px; top: 100px;}
  25%{left: -100px; top: 200px;}
  50%{left: -300px; top: 250px;}
  75%{left: -50px; top: 100px;}
  100%{left: -100px; top: -200px;}
}

@keyframes two {
  0%{right: -250px; bottom: 100px;}
  25%{right: -100px; bottom: 200px;}
  50%{right: -300px; bottom: 250px;}
  75%{right: -50px; bottom: 100px;}
  100%{right: -100px; bottom: -200px;}
}

._bg-blur {
  filter: blur(90px);
}
